
@import url(https://fonts.googleapis.com/css?family=Roboto);

* {

}

html, body { height: 100%; margin: 0px; padding: 0px; font-size: 14px; font-weight: 300 ; font-family: 'Roboto', Arial, sans-serif; }

section {
	heightd: 100% !important;
	width: 100%;
	margin: 0; padding: 0;
	position: relative;
	min-width: 650px;
}

.red {
	color: #C00 !important;
}

#home {
	height: 100% !important;
	color: #FFF;
	background-color: #222;
	background: url('bg.jpg') center center;
	background-size: cover;
}

.container {
	margin: 50px auto;
	width: 80%;
	display: block;
}
.container-center {
	margin: 0 auto;
	width: 80%;
	display: block;
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	text-align:center;
}

h1 {
	font-weight: 800;
	padding: 0; margin: 0;
	text-transform: uppercase;
	font-size: 6em;
	text-align: center;
	font-family: 'VT323', Courier, serif;
}


h2 {
	font-weight: 600;
	padding: 0; margin: 0 0 20px 0;
	text-transform: uppercase;
	font-size: 3em;
	text-align: center;
	font-family: 'VT323', Courier, serif;
}

h3 {
	font-weight: 600;
	padding: 0; margin: 20px 0;
	text-transform: uppercase;
	font-size: 2em;
	font-family: 'VT323', Courier, serif;
		color: #444;
}

.multicolortext {
			 background-image: linear-gradient(to right, red, OrangeRed, orange, MediumVioletRed, violet, indigo, SteelBlue,  SeaGreen, Gold);
			 -webkit-background-clip: text;
			 -moz-background-clip: text;
			 background-clip: text;
			 color: transparent;
		 }

#home h1 {
	font-size: 10em;
}
#home h2 {
	font-size: 1.2em;
	margin: 0;
}

#home h1 a {
	text-decoration: none;
	color: #FFF;
}

#home h1 span.primary-title {
	font-size: 100%;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#home .animated-title:hover span.primary-title  {
	font-size: 0%;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#home h1 span.secondary-title {
	font-size: 0%;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#home .animated-title:hover span.secondary-title  {
	font-size: 100%;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}


.btn {
	color: inherit;
	text-decoration: none;
	border: 1px solid;
	border-color: inherit;
	padding: 4px 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.lang { font-size: 150px; }

.btn {
	font-size: 125%;
	display: inline-block;
	font-weight: 600;
	font-family: 'VT323', Courier, serif;
}

#home .btn:hover {
	background-color: #FFF;
	color: #000;
}

#about {
	color: #333;
}


.btn:hover {
	background-color: #333;
	color: #FFF;
}



a {
	color: #444;
}

footer {

	font-size: 1em;
	color_: #FFF;
	background-color_: #000;

}
